body {
  background-color: #282c34;
}

button {
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 16px;
}

.App {
  padding: 32px;
  margin: 42px;
  border-radius: 16px;
  background-color: aquamarine;
}

.box {
  padding-bottom: 16px;
  padding-top: 16px;
}

.right {
  text-align: right;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
